{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% for obj in object_list %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ obj.url }}" class="card-link">{{ obj.title }}</a></h5>
      <h5 class="card-subtitle" style="background-color:tomato;">{{ obj.company_name }}</h5>
      <p></p>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ obj.city.name }} | {{ obj.programming_language.name }} | {{ obj.timestamp|date:"d-M-Y" }}</h6>
      <p class="card-text">{{ obj.description }}</p>
      <a href="{{ obj.url }}" class="card-link">More</a>
      
    </div>
  </div>
{% empty %}
  <h3 class="">Unfortunately, we can't find it:(</h3>

{% endfor %}
<div class="row mx-auto">
    <div class="col-md-4"><form method="GET" action=""> 
        {% comment %} <label>City:</label><br>
        <input type="text" id="city" name="city"><br>
        <label>Programming language:</label><br>
        <input type="text" id="proglanguage" name="proglanguage"><br>
        <input type="submit" value="Submit"> {% endcomment %}
        <div class="form-group">
            {{ form.as_p }}
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>

{% endblock %}

 